<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>245070747207-ciuk4urvlkn7c578og8qq4pkj7jb792c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245070747207-ciuk4urvlkn7c578og8qq4pkj7jb792c</string>
	<key>API_KEY</key>
	<string>AIzaSyBx2HEQ8pnvvgC4BTvlcj8fcndAti6gFoE</string>
	<key>GCM_SENDER_ID</key>
	<string>245070747207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.stouch.lac</string>
	<key>PROJECT_ID</key>
	<string>stouch-lac-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>stouch-lac-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:245070747207:ios:b0c720c2e821f053</string>
	<key>DATABASE_URL</key>
	<string>https://stouch-lac-sample.firebaseio.com</string>
</dict>
</plist>